<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>工资</string>
		<key>icon</key>
		<string>01.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奖金</string>
		<key>icon</key>
		<string>02.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兼职</string>
		<key>icon</key>
		<string>03.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>投资</string>
		<key>icon</key>
		<string>04.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包</string>
		<key>icon</key>
		<string>05.png</string>
	</dict>
</array>
</plist>
